.scGridPage { background-color: #FDF9DE; background-image: url(../../img/scriptcase__NM__v5YellowbgPage.png); background-repeat: repeat-x; color: #000000; font-family: Arial, sans-serif; margin: 20px 0 20px 0; font-size: 12px }
.scGridBorder { background-color: #FFFFFF; border-color: #BBB #BFBA97 #BFBA97 #BBB; border-style: solid; border-width: 0 2px 2px 1px; border-collapse: collapse; padding: 0 }
.scGridPageLink { color: #85781D }
.scGridToolbar { background-color: #FFFFFF; color: #333; font-family: Arial; font-size: 11px; text-decoration: none; border-style: none; border-width: 0; padding: 5px 10px 5px 10px }
.scGridToolbarPadding { padding: 5px 10px 5px 10px }
.css_toolbar_obj { border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333; font-family: Arial; font-size: 11px; text-decoration: none }
.scGridHeader { background-color: #DEC932 }
.scGridHeaderFont { color: #85781D; font-family: Arial, sans-serif; font-size: 14px; font-weight: bold; text-decoration: none }
.scGridFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 11px; text-decoration: none }
.scGridObjectOdd { text-decoration: none }
.scGridBlock { background-color: #F1E88F; border-color: #d2d2d2 #d2d2d2 #999999 #d2d2d2; border-width: 1px; border-style: solid; color: #525038; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 2px 4px; text-decoration: none }
.scGridBlockFont { color: #525038; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scGridBlockLink { color: #525038; text-decoration: underline }
.scGridBlockAlign { color: #525038; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scGridTotal { background-color: #B4A329; border-color: #D2D2D2; border-style: none; border-width: 1px 0 }
.scGridTotalFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 3px; text-decoration: none }
.scGridSubtotal { background-color: #FFF7CE; border-color: #D2D2D2; border-style: solid; border-width: 1px 0 }
.scGridSubtotalFont { color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 2px 4px; text-decoration: none }
.scGridFieldEven { background-color: #F2F1EA }
.scGridFieldEvenFont { color: #333333; font-family: Arial, sans-serif; font-size: 12px; padding: 2px 4px; text-decoration: none; border-color: #D2D2D2; border-style: solid; border-width: 1px 0 }
.scGridFieldEvenVert { background-color: #F2F1EA; border-color: #D2D2D2; border-style: solid; border-width: 1px 0; color: #333333; font-family: Arial, sans-serif; font-size: 12px; padding: 2px 4px; text-decoration: none }
.scGridFieldEvenLink { color: #85781D }
.scGridFieldOdd { background-color: #FFFFFF }
.scGridFieldOddFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; padding: 2px 4px; text-decoration: none; border-color: #D2D2D2; border-style: solid; border-width: 1px 0 }
.scGridFieldOddVert { background-color: #FFFFFF; border-color: #D2D2D2; border-style: solid; border-width: 1px 0; color: #000; font-family: Arial, sans-serif; font-size: 12px; padding: 2px 4px; text-decoration: none }
.scGridFieldOddLink { color: #85781D }
.scGridFieldClick { background-color: #e5e5e5; border-color: #D2D2D2; border-style: solid; border-width: 1px 0 }
.scGridFieldOver { background-color: #dfe5f6 }
.scGridLabel { background-color: #DEC932 }
.scGridLabelVert { background-color: #DEC932; border-color: #AAA #AAA #777777 #AAA; border-style: solid; border-width: 1px; color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 2px 4px; text-decoration: none }
.scGridLabelFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 2px 4px; text-decoration: none; border-color: #AAA #AAA #777777 #AAA; border-style: solid; border-width: 1px }
.scGridLabelLink { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scGridTabela { border-collapse: collapse }
.scGridTabelaTd { padding: 0 }
.TB_overlayBG { background-color: #6e6e6e }
#TB_window { border-color: #C5BB5D; border-style: solid; border-width: 1px 1px 2px 1px }
